<template name = "groupCreate">
	<h2>Створити нову групу</h2>
	<form role="form">
	  <!--<div class="form-group">
	    <label for="groupLogo">Логотип</label>
	    <input type="text" class="form-control groupLogo" id="groupLogo" placeholder="Логотип">
	  </div>-->
	  <div class="form-group">
	    <label for="groupName">Назва групи</label>
	    <input type="text" class="form-control groupName" id="groupName" placeholder="Назва групи">
	  </div>
		 <div class="container">
		 <div class="col-sm-6">
			 <div class="panel panel-warning">
			  <div class="panel-body">
			    Всі користувачі
			  </div>
			  <div class="nav">
				{{#each allUsers}}
					<a href="#" class="list-group-item usersAll">{{services.google.name}}</a>
				{{/each}}
			  </div>
		  		<div class="panel-footer">Оберіть користувача для додавання в групу</div>
			</div>
		  </div>
		  <div class="col-sm-6">
			 <div class="panel panel-success"> 
			  <div class="panel-body">
			    Додані користувачі
			  </div>
			  <div class="nav">
				{{#each addedUsers}}
					<a href="#" class="list-group-item usersAdded">{{userName}}</a>
				{{/each}}
				</div>
		  		<div class="panel-footer">Оберіть користувача для видалення з групи</div>
			</div>
		  </div>
		  </div>
	  <div class="form-group">
	    <button type="submit" class="btn btn-default send">Створити</button>
	  </div>
	</form>
</template>