<template name = "layout">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
		    <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="/">Pizza day</a>
		</div>
		<div class="collapse navbar-collapse" id="navigation">
		<ul class="nav navbar-nav">
		{{#if registered}}
		<li><a href="{{pathFor 'groupCreate'}}">Створити групу</a></li>
		{{/if}}
		</ul>
		  <ul class="nav navbar-nav navbar-right">
		    {{> loginButtons}}
		  </ul>
		</div>
	</nav>
	<div class = "container">	
		{{>yield}}
	</div>
</template>